<ion-content>
  <ion-title style="color:black; font-weight:bold; font-size:30px; margin-top:20px;">
    Ofertas
  </ion-title>
  <ion-card>
    <img  class="img-card" src="assets/cocacola.jpg"/>
    <ion-card-content style="margin-top:0px;">
      <ion-card-title style="font-weight: bold; color:black;" >
        Nombre
        </ion-card-title>
      <p style="color:black;">
        $5000
      </p>
<button class="button-87" role="button">Agregar</button>    
    </ion-card-content>
  </ion-card>
</ion-content>