<ion-content>
   
    <ion-grid fixed>
      <ion-row>
      <ion-col align-self-center>
      <div class="login-box">
        <img class="logo" src="../../../assets/icon/logo.png">
        <h1>Bienvenido!</h1>

        <p>Correo Electronico</p>
        <ion-input [(ngModel)]="loginForm.email"></ion-input>

        <p>Contraseña</p>
        <ion-input type="password" style="margin-bottom: 0px;" [(ngModel)]="loginForm.password" required></ion-input>
        <p class="p1" (click)="IraReset()">¿Olvidaste tu contraseña?</p>

        <ion-button (click)="btnEntrar()">Entrar</ion-button><br>
        <ion-label class="label1">No estas registrado? <ion-label (click)="IraSignin()"class="label2" required>Crear una cuenta</ion-label></ion-label>
      </div>
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-content>

