<ion-header class=ion-no-border>
  <ion-toolbar class=ion-no-border>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="../../assets/icon/logo.png"></ion-img>
    </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>20.157.345-1</ion-label>
      <ion-input placeholder="14.556" type="number">|    $</ion-input>
      <ion-button><ion-icon name="refresh-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label>17.896.478-2</ion-label>
      <ion-input placeholder="10.156" type="number">|    $</ion-input>
      <ion-button><ion-icon name="refresh-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label>19.879.428-k</ion-label>
      <ion-input placeholder="18.454" type="number">|    $</ion-input>
      <ion-button><ion-icon name="refresh-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
 

 
</ion-content>