<ion-content>

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" (click)=volver()></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-row class="row1">
    <ion-col size="6">
      <ion-button class="datos" (click)="irDatos()">
        <ion-row>
          <ion-col size="12">
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-col>
          <ion-col size="12">
            <p>datos</p>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button class="datos"></ion-button>
    </ion-col>

    <ion-col style="margin-top: 20%;" size="6">
      <ion-button class="datos" (click)="irHistorial()">
        <ion-row>
          <ion-col size="12">
            <ion-icon name="bag-outline"></ion-icon>
          </ion-col>
          <ion-col size="12">
            <p>Historial</p>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>

    <ion-col style="margin-top: 20%;" size="6">
      <ion-button class="datos" (click)="logout()">
        <ion-row>
          <ion-col size="12">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-col>
          <ion-col size="12">
            <p>Cerrar Sesión</p>
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>