<ion-header class=ion-no-border>
  <ion-toolbar class=ion-no-border>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center">
    <h1>Agregar producto</h1>
  </div>
  
  <p>Nombre:</p>
  <ion-input  [(ngModel)]="newp.name"></ion-input>

  <p>Descripcion:</p>
  <ion-input   [(ngModel)]="newp.desc"></ion-input>
  
  <p>Precio:</p>
  <ion-input   [(ngModel)]="newp.prec"></ion-input>

  <p>Stock:</p>
  <ion-input   [(ngModel)]="newp.stok"></ion-input>

  <div class="ion-text-center">
    <ion-button (click)="SaveProduct()" >Registrar Producto</ion-button> 
  </div>
 
</ion-content>