<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-img src="../../assets/icon/logo.png"></ion-img>
    </ion-title>
    <ion-icon slot="end" name="cart-outline" (click)="btnCarrito()"></ion-icon>
    <ion-icon slot="end" name="person-circle-outline" (click)="abrirModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-segment scrollable="true" value="products" (ionChange)="segmentChanged($event)">
      
      <ion-segment-button value="products">
        <ion-icon name="home"></ion-icon>
        <ion-label>Principal</ion-label>
      </ion-segment-button>

      <ion-segment-button value="buscar">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-segment-button>

      <ion-segment-button value="discounts">
        <ion-icon name="ticket"></ion-icon>
        <ion-label>Promociones</ion-label>
      </ion-segment-button>

      <ion-segment-button value="categories">
        <ion-icon name="grid"></ion-icon>
        <ion-label>Categorias</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>