ion-toolbar{
    --background: rgb(206, 157, 66);
}

ion-content{
    --background: rgb(255, 255, 255);
}

ion-footer {
    height: 15%;
    background-color: rgb(255, 255, 255);
}

ion-modal{
    margin: auto;
    &::part(content) {
      margin: auto;
      width: 80%;
      height: 70%;
      --border-radius: 10px;
    }
    ion-content {
      margin: auto;
      --background: rgb(255, 255, 255);
    }
}